.anticon-plus {
  font-size: 18px;
  top: -3px;
  position: relative;
}

.product-info {
  margin-bottom: 5px;
  height: 30px;
}
.buttonsRow{
  margin-top: 25px;
}
.total-label {
  line-height: 32px;
  vertical-align: middle;
}
.total-row {
  height: 32px;
}
.ant-input-suffix, .ant-input[disabled] {
  color: rgba(0, 0, 0, 0.65) !important;
}
.deleteIcon {
  position: absolute;
  left: -18px;
  top: 10px;
  color: #d11a2a;
}
.select-tip{
  width: 110px ;
}
.anticon-plus {
  margin-top: 6px;
}
.total-sum-row {
  position: relative;
  right: 4px;
}
.tip-sum-row {
  position: relative;
  top: 3px;
  left: 10px;
}
.cancel-button {
  margin-right: 10px;
}
.buttons-col {
  text-align: right;
  margin: 30px 8px -8px
}
